input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="color"],
input,
textarea {
	backface-visibility: hidden;
	border: solid 1px $color__red;
	box-sizing: border-box;
	outline: none;
	padding: 0.2rem;
	-webkit-appearance: none;
	outline-offset: 0;
    border-radius: 0.2rem;
	max-width: 400px;

	&:focus {
		border-color: $color__red;
		outline: thin solid $color__red;
		outline-offset: -4px;
	}
}

textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	max-width: 100%;
	resize: vertical;
}

form {
	p {
		margin: 0.5rem 0;
	}

	margin: 0;
    padding:0;
}

label {
    display: block;
    margin: 0.5rem 0;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	border: none;
	border-radius: 0.2rem;
	box-sizing: border-box;
	color: #ffffff;
	font-family: $font__heading;
	font-weight: 600;
	outline: none;
	padding: 0.5rem 1rem;
	text-decoration: none;
	vertical-align: bottom;

	&:hover {
		cursor: pointer;
	}

	&:visited {
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
		outline-offset: -4px;
	}
}

